<ul class="list-group list-group-flush todo-list" *ngIf="!isLoading">
    <li class="list-group-item" *ngFor="let todo of todos">
        <span class="align-left" [ngClass]="{'completed': todo.isCompleted}">{{todo.title}}</span>
        <span class="badge badge-primary badge-pill">
            <span *ngFor="let tag of todo.tags; let i=index;">{{tag.name}}<span *ngIf="i < todo.tags.length-1;">,</span></span>
        </span>
        <span class="badge badge-primary badge-pill">{{todo.category.name}}</span>
        <span class="badge badge-primary badge-pill">{{todo.targetDate | date}}</span>
        <span><a [routerLink]="['/add-edit']">Edit</a></span>
        <span class="text-danger delete-btn">Delete</span>
    </li>
</ul>
<div class="text-center" *ngIf="isLoading">
    <img src="../../../assets/img/loader.gif" />
</div>